spec:
  instances: 3      
  monitoring:
    enablePodMonitor: true
  imageName: ghcr.io/cloudnative-pg/postgresql:17.0
  storage:
    size: 5Gi
  resources:
    requests:
      memory: "512Mi"
      cpu: "100m"
    limits:
      memory: "512Mi"
      cpu: "100m"

  affinity:
    # This means that the pods of the same cluster will attempt to be scheduled on different nodes - for better HA
    enablePodAntiAffinity: true
    topologyKey: kubernetes.io/hostname
    podAntiAffinityType: preferred
    # This makes sure the pod is only scheduled on nodes that are marked as dedicated for postgres
    # nodeSelector:
    #   node-role.kubernetes.io/postgres: ""
    # This is a toleration - because each postgres node has a taint to reject pods that are not postgres
    # This way only pods that are tolerating that taint (that means - are postgres), will be able to schedule on that node
    # tolerations:
    # - key: node-role.kubernetes.io/postgres
    #   operator: Exists
    #   effect: NoSchedule

  backup:
    barmanObjectStore:
      destinationPath: "s3://dba-cnpg-backups"
      endpointURL: "http://minio.minio-tenant.svc.cluster.local:80"
      s3Credentials:
        accessKeyId:
          name: minio-access-keys
          key: ACCESS_KEY_ID
        secretAccessKey:
          name: minio-access-keys
          key: ACCESS_SECRET_KEY
    retentionPolicy: "30d"
